
.navegador{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  
   

}

.navegador ul{
  
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 50px;
  

}

.navegador ul li a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(0, 0, 0);   
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}


.navegador ul li a:hover{
    color: rgb(212, 212, 108);
}


.certificadosYCursos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Certificados img{
    display: flex;
    width: 100%;

}








@media only screen and (max-width: 1350px){

    .navegador{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
}

    .navegador ul{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 30px;
    list-style-type: none;
}

    .navegador ul li a {
        justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
        text-align: center;
        direction: none;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 30px;
    }

 

.Certificados{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
   }

   





}


@media only screen and (max-width: 850px){

    .navegador ul li a{
        flex-direction: row;
        font-size: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
}